<div class="row">
  <div class="col-md-6 col-md-offset-2">
    <%= will_paginate @users %>
    <ul class="user-links">
      <% @users.each do |user| %>
        <li><%= link_to user.name, user %><%= link_to("delete", user_path(user), class: "delete-user", method: :delete, data: { confirm: "Yes?" }) if admin? && !user.admin %></li>
      <% end %>
    </ul>
    <%= will_paginate @users %>
  </div>
 </div>