<div class="row">
  <aside class="col-md-3">
    <ul>
      <h2><%= @user.name %></h2>
      <% if signed_in? && current_user?(@user) %>
        <ul>
          <li><%= link_to("Settings", edit_user_path(current_user)) %></li>
          <li><%= link_to("Sign out", signout_path, method: :delete) %></li
        </ul>
      <% end %>
    </ul>
  </aside>
  <div class="col-md-6">
    <div class="post-block">
      <strong><a>User Name</a></strong> <span class="timestamp">2 days ago</span>
      <p>POST GOES HERE</p>
      <a href="#">delete</a>
    </div>
    <div class="post-block">
      <strong><a>User Name</a></strong> <span class="timestamp">2 days ago</span>
      <p>POST GOES HERE</p>
      <a href="#">delete</a>
    </div>
    <div class="post-block">
      <strong><a>User Name</a></strong> <span class="timestamp">2 days ago</span>
      <p>POST GOES HERE</p>
      <a href="#">delete</a>
    </div>
  </div>
</div>
