<div class="post-block">
 <strong><%= signed_in? ? link_to(post.user.name, post.user) : "Anonymous" %></strong><span class="timestamp"> • <%= time_ago_in_words(post.created_at) + " ago" %></span>
 <%= simple_format post.content %>
 <%= link_to "delete", post, method: :delete, data: { confirm: "Delete this post?" } if current_user?(post.user) || admin? %>
</div>