<div class="row">
  <aside class="col-md-3">
    <%= render "form" if signed_in? %>
  </aside>
  <div class="col-md-6">
    <%= will_paginate @posts %>
    <%= render @posts %>
    <%= will_paginate @posts %>
  </div>
</div>